Colombia Covid Dashboard/Casos_positivos_de_COVID-19_en_Colombia.csv
**/build/
**/dist/
**/__pycache__/
**/venv/
**/*.pdf
**/*.xlsx
**/*.mp3
**/*.wav
**/*.spec
**/*.lock
**/*.jpg
**/*.db
**/Pipfile
**/env/
**/.vscode/
Machine Learning/ML_India/.google-cookie